<div class="panel" >
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white  box-shadow" style="border-bottom: solid"  >
    <h2 class="my-0 mr-md-auto"><b>Données</b></h2>
    <nav class="my-2 my-md-0 mr-md-3">
    </nav>
  </div>

  <mat-selection-list *ngFor="let chanel of chanels">
    <!--<div mat-subheader>Folders</div>-->
    <!-- <mat-list-item class="list-group-item list-group-item-action" style="border: none;cursor: pointer" [routerLink]="['/detailChanel']" [queryParams]="{ patient_id: id,chanel_id:chanel.id,sensor:chanel.capteur.nom}">-->
    <mat-list-item class="list-group-item list-group-item-action" style="border: none;cursor: pointer"
                   (click)="getChanelPat(id,chanel.id,chanel.capteur.nom)">
      <img matListAvatar src="../assets/images/{{chanel.capteur.image}}" alt="user-img"  class="img-circle imageList ">
      <div mat-line>{{chanel.capteur.nom}}</div>
      <div mat-line> {{chanel.nom}} </div>
      <mat-icon class="material-icons-outlined">fast_forward</mat-icon>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-selection-list>

</div>
