
<!----------------------------------------- List Devices ------------------------------------------------------->
<div class="panel" >
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white  box-shadow" style="border-bottom: solid"  >
    <h2 class="my-0 mr-md-auto"><b>Devices</b></h2>
    <nav class="my-2 my-md-0 mr-md-3">
      <mat-form-field appearance="outline">
        <mat-label>Rechercher Device</mat-label>
        <input matInput placeholder="placeholder" [(ngModel)]="searchText">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </nav>
    <button routerLink="/createDevice"  class="btn btn-success" mat-stroked-button>
      <mat-icon appearance="outline">add_box</mat-icon>
      Ajouter
    </button>

  </div>
  <div class="container">
    <div class="table-responsive">

      <table class="table table-bordered" *ngIf="devices">
        <tr>
          <th>Id</th>
          <th>Nom</th>
          <th>Description</th>
          <th>Membre</th>
        </tr>

        <tr *ngFor="let dev of devices | filter:searchText  | paginate: { itemsPerPage: 5,currentPage:p}">
          <td>{{dev.id}}</td>
          <td>{{dev.nom}}</td>
          <td>{{dev.description}}</td>
          <td>{{dev.patient.nom}} {{dev.patient.prenom}}</td>


          <td>
            <!------------------------------------------------------ Update Device ----------------------------------------------------------->

            <a href="javascript:void(0)" (click)="update(dev.id)" class="text-decoration-none" style="color: #2cabe3" ><i class="ti-pencil-alt"></i></a>
            &nbsp;
            <!-------------------------------------------------- Supprimer Device ------------------------------------------------------>

            <a href="javascript:void(0)" data-toggle="modal" data-target="#exampleModal" (click)="openDialog(dev.id,dev.patientId)" style="color: red" class="text-decoration-none"><i class="ti-trash"></i></a> &nbsp;

            <!--------------------------------------------- Détail Device -------------------------------------------------------------->

            <a  href="javascript:void(0)" style="color: #1e7e34" (click)="smsDevice(dev.id)" class="text-decoration-none"><i class="ti-eye"></i></a>
            <!-------------------------------------- Pagination list devices ------------------------------------------------------>
          </td>
        </tr>
      </table>
    </div>
    <ul class="pagination">
      <pagination-controls (pageChange)="p=$event"></pagination-controls>
    </ul>
    <!------------------------------------------------------------------------------------------------------------------------>
  </div>
</div>



