<!-- Form-->
<div class="form"  >
  <div class="form-toggle"></div>
  <div class="form-panel one">
    <div class="form-header">
      <h1>Enter code</h1>
    </div>
    <div class="form-content">
      <form #f="ngForm" (ngSubmit)="onConfirme(f.value)">
        <div class="form-group">
          <label for="code">Code</label>
          <input type="text" id="code" name="code" required="required" ngModel=""/>
        </div>
        <div class="form-group">
          <button type="submit">Confirmer compte</button>
        </div>
      </form>
    </div>
  </div>
  <div class="form-panel two" >

  </div>
</div>
