

<div class="form">
  <mat-progress-bar *ngIf="showprogressBar" mode="indeterminate" color="warn"></mat-progress-bar>
  <div class="form-toggle visible" routerLink="/login"></div>
<div class="form-panel two active" >
  <div class="form-header text-center">
    <img src="/assets/images/logo.png"  width="64">
    <br>
    <h1>Register</h1>
  </div>
  <div class="form-content">
    <form #fr="ngForm" (ngSubmit)="onRegister(fr.value)" name="fr">
      <div class="form-group">
        <label for="email2">Email</label>
        <input type="text" id="email2" name="email" required="required" ngModel=""/>
      </div>
      <div class="form-group">
        <label for="password2">Mot de passe</label>
        <input type="password" id="password2" name="password" required="required" ngModel=""/>
      </div>
      <div class="form-group">
        <label for="repassword">Confirmer mot de passe</label>
        <input type="password" id="repassword" name="repassword" required="required" ngModel=""/>
      </div>
      <div class="form-group">
        <button type="submit">S'inscrire</button>
      </div>
    </form>
  </div>
</div>
</div>
