
<div class="panel" >
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white  box-shadow" style="border-bottom: solid"  >
    <h2 class="my-0 mr-md-auto"><b>
      <button routerLink="/membres" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      Détail Patient</b></h2>
  </div>

<mat-accordion class="example-headers-align" *ngIf="patient">
<!---------------------------------------------------   Les information personnel du patient ------------------------------------------------>
  <mat-expansion-panel  [expanded]="step0 === 0"  [disabled]="step0===0" hideToggle>
    <mat-expansion-panel-header class="backHead">
      <mat-panel-title>

      </mat-panel-title>
      <mat-panel-description>
        <b class="colorIcon">Les information personnel du patient</b>
        <mat-icon class="colorIcon">account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
<mat-divider class="diverHead" ></mat-divider>
    <div class="container">
      <div class="row">
        <div class="col-md-2"><img src="../assets/images/patient.png" alt="user-img" width="100%" class="img-circle" style="margin-top: 20%"></div>
        <div class="col-md-10 table-responsive">
          <table class="table" *ngIf="patient">
            <thead>
            <tr>
              <th></th>
              <th></th>
              <th>&nbsp;</th>
              <th></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">Nom:</th>
              <td>{{patient.nom}}&nbsp;&nbsp;&nbsp;&nbsp;</td>
              <td>&nbsp;</td>
              <th scope="row">Prénom:</th>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;{{patient.prenom}}</td>
            </tr>

            <tr>
              <th scope="row">Email:</th>
              <td>{{patient.appUser.email}}&nbsp;&nbsp;&nbsp;&nbsp;</td>
              <td>&nbsp;</td>
              <th scope="row">Téléphone:</th>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;{{patient.appUser.phone}}</td>
            </tr>

            <tr>
              <th scope="row">Date naissance:</th>
              <td>{{patient.dateNaissance}}&nbsp;&nbsp;&nbsp;&nbsp;</td>
              <td>&nbsp;</td>
              <th scope="row">Adresse:</th>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;{{patient.adresse}}</td>
            </tr>
            <tr><td colspan="5"></td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </mat-expansion-panel>
</mat-accordion>
<!--------------------------------------------- Dossier Médical ----------------------------------------------------------------------->
  <mat-accordion class="example-headers-align" *ngIf="patient">
  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)"  hideToggle style="margin-top: 5px">
    <mat-expansion-panel-header class="backHead">
      <mat-panel-title>

      </mat-panel-title>
      <mat-panel-description>
        <b class="colorIcon">Les informations de dossier médical</b>
        <mat-icon class="colorIcon">markunread_mailbox</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-divider class="diverHead" ></mat-divider>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <img src="../assets/images/dossierMedical.jpg" alt="user-img" width="100%" class="img-circle">
        </div>
        <div class="col-md-9 table-responsive">
          <table class="table" *ngIf="patient.dossierMedecal">
            <thead>
            <tr>
              <th></th>
              <th></th>
              <th>&nbsp;</th>
              <th></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">Poid:</th>
              <td>{{patient.dossierMedecal.poid}}&nbsp;&nbsp;&nbsp;&nbsp;</td>
              <td>&nbsp;</td>
              <th scope="row">Taille:</th>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;{{patient.dossierMedecal.taille}}</td>
            </tr>

            <tr>
              <th scope="row">Date création:</th>
              <td>{{patient.dossierMedecal.dateCreation}}&nbsp;&nbsp;&nbsp;&nbsp;</td>
              <td>&nbsp;</td>
              <th scope="row">Dernière modification:</th>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;{{patient.dossierMedecal.dateModification}}</td>
            </tr>
<!------------------------------- les antécédents familiaux du dossier médical------------------------------------------------------>
            <tr>
              <th scope="row">Antécédents familiaux:</th>
              <td colspan="4">
                <mat-accordion class="example-headers-align">
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>

                      <mat-panel-description>
                        <b>La liste des antécédents familiaux</b>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-list *ngFor="let ant of patient.dossierMedecal.antecedentsFamiliaux">
                      <mat-divider></mat-divider>
                      <mat-list-item>{{ant}}</mat-list-item>
                      <mat-divider></mat-divider>
                    </mat-list>
                  </mat-expansion-panel>
                </mat-accordion>
              </td>
            </tr>
            <!------------------------------- les maladies du dossier médical------------------------------------------------------>
            <tr>
              <th scope="row">Maladies:</th>
              <td colspan="4">
                <mat-accordion class="example-headers-align">
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>

                      <mat-panel-description>
                        <b>La liste des maladies</b>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-list *ngFor="let ant of patient.dossierMedecal.maladies">
                      <mat-divider></mat-divider>
                      <mat-list-item>{{ant}}</mat-list-item>
                      <mat-divider></mat-divider>
                    </mat-list>
                  </mat-expansion-panel>
                </mat-accordion>
              </td>
            </tr>
            <!------------------------------- les habitude toxiques du dossier médical------------------------------------------------------>
            <tr>
              <th scope="row">Habitude toxiques:</th>
              <td colspan="4">
                <mat-accordion class="example-headers-align">
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>

                      <mat-panel-description>
                        <b>La liste des des habitudes toxiques</b>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-list *ngFor="let ant of patient.dossierMedecal.habitudesToxiques">
                      <mat-divider></mat-divider>
                      <mat-list-item>{{ant}}</mat-list-item>
                      <mat-divider></mat-divider>
                    </mat-list>
                  </mat-expansion-panel>
                </mat-accordion>
              </td>
            </tr>
     <!-------------------------------------------------- La list des médécins traitants du dossier médical--------------------------------->
            <tr>
              <th scope="row">Médécins traitants:</th>
              <td colspan="4">
                <mat-accordion class="example-headers-align">
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>

                      <mat-panel-description>
                        <b>La liste des médécins traitants</b>
                      </mat-panel-description>
                    </mat-expansion-panel-header>

                    <mat-form-field>
                      <mat-label>Filtrer</mat-label>
                      <input matInput [(ngModel)]="searchText" placeholder="Rechercher Médecin">
                    </mat-form-field>

                    <div class="table-responsive">
                      <table class="table table-bordered" *ngIf="medecinsTraitants">
                        <tr>
                          <th>Nom</th>
                          <th>Prénom</th>
                          <th>Service</th>
                          <th>Consultations</th>
                        </tr>

                        <tr *ngFor="let mem of medecinsTraitants |  filter:searchText  | paginate: { itemsPerPage: 2,currentPage:p}">
                          <td>{{mem.nom }}</td>
                          <td>{{mem.prenom}}</td>
                          <td *ngIf="mem.service">{{mem.service.nom}}</td>
                          <td *ngIf="!mem.service"></td>
                          <td>
                            <!------------------------------------------------------ Contacter Médecin ----------------------------------------------------------->
                            <div class="text-center">
                              <a href="javascript:void(0)"  class="text-decoration-none"
                                 [routerLink]="['/consultation']" [queryParams]="{patient_id:patient.id,medecin_id:mem.id}"
                                 style="color: #1e7e34" ><i class="ti-eye"></i></a>
                            </div>
                            <!-------------------------------------------------------------------------------------------------------------------------------->
                          </td>
                        </tr>

                      </table>
                    </div>
                    <ul class="pagination">
                      <pagination-controls (pageChange)="p=$event"></pagination-controls>
                    </ul>
                  </mat-expansion-panel>
                </mat-accordion>
              </td>
            </tr>
        <!--------------------------------------------------------------------------------------------------------------------------->
           <tr><td colspan="5"></td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
  <!-------------------------------------------------- Fin de dossier médical------------------------------------------------------------->
<!----------------------------------------------------Consultation------------------------------------------------------------------------>
  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)"  hideToggle style="margin-top: 5px">
    <mat-expansion-panel-header class="backHead">
      <mat-panel-title>

      </mat-panel-title>
      <mat-panel-description>
       <b class="colorIcon">La liste des consultations</b>
        <mat-icon class="colorIcon">list_alt</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-divider class="diverHead" ></mat-divider>

    <!----------------------------------------- List Consulation ------------------------------------------------------->
    <div class="panel" >

      <!---------------------------------------Ajouter et chercher consulation -------------------------------------------------------->
      <div class="card-header m-b-15 row">
        <div class="col-md-7"><h3><b>Consultations</b></h3></div>
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-2" style="margin-top: 10px">
              <i class="ti-search"></i>
            </div>
            <div class="col-md-10">
              <input class="form-control"  type="text" name="search" [(ngModel)]="searchText" placeholder="Rechercher Consultation">
            </div>
          </div>

        </div>

        <div class="col-md-2">
          <button class="btn btn-success" (click)="ajouCons()" >Ajouter</button>

        </div>
      </div>
   <!---------------------------------------------La table des consulations--------------------------------------------------------------------------->

      <div *ngIf="consultations && consultations.length==0"><h1><b>Aucun consultation exist!</b></h1></div>
      <div class="table-responsive" *ngIf="consultations && consultations.length!=0">

        <table class="table table-bordered" >
          <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Rapport</th>
            <th>Nom du traitement</th>
            <th>Ordonnance</th>
          </tr>

          <tr *ngFor="let cons of consultations |  filter:searchText  | paginate: { itemsPerPage: 3,currentPage:p}">
            <td>{{cons.id }}</td>
            <td>{{cons.date}}</td>
            <td>
              <div class="text-center">
                <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon"
                        (click)="voirRapport(cons)">
                  <mat-icon>preview</mat-icon>
                </button>

              </div>
            </td>
            <td>{{cons.traitement.nom}}</td>
            <td>

              <!--<mat-accordion class="example-headers-align">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>

                    <mat-panel-description>
                      <b>La liste des médécaments</b>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-list *ngFor="let trai of cons.traitement.contenu">
                    <mat-divider></mat-divider>
                    <mat-list-item>{{trai}}</mat-list-item>
                    <mat-divider></mat-divider>
                  </mat-list>
                </mat-expansion-panel>
              </mat-accordion>-->
              <div class="text-center">
                <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon"
                        (click)="voirOrdonnance(cons)">
                  <mat-icon>preview</mat-icon>
                </button>

              </div>

            </td>

            <td>
              <!------------------------------------------------------ Update consultation ----------------------------------------------------------->

              <a href="javascript:void(0)" (click)="editCons(cons)" class="text-decoration-none"  data-toggle="modal" data-target="#modalUpdate" style="color: #2cabe3" ><i class="ti-pencil-alt"></i></a>

              <!-------------------------------------------------- Supprimer consultation ------------------------------------------------------>

              <a href="javascript:void(0)" (click)="suppCons(cons.id)" data-toggle="modal" data-target="#exampleModal"  style="color: red" class="text-decoration-none"><i class="ti-trash"></i></a> &nbsp;

              <!-------------------------------------- Pagination list consulation ------------------------------------------------------>

            </td>
          </tr>
        </table>
      </div>
      <ul class="pagination" *ngIf="consultations && consultations.length!=0">
        <pagination-controls (pageChange)="p=$event"></pagination-controls>
      </ul>
      <!------------------------------------------------------------------------------------------------------------------------>
    </div>

  </mat-expansion-panel>
<!-----------------------------------------------------------------Fin consulation -------------------------------------------------------------------------------------->

<!----------------------------------------------------Exploration des données------------------------------------------------>
  <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)"  hideToggle style="margin-top: 5px">
    <mat-expansion-panel-header class="backHead">
      <mat-panel-title>

      </mat-panel-title>
      <mat-panel-description>
        <b class="colorIcon">Exploration les données</b>
        <mat-icon class="colorIcon">toc</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-divider class="diverHead" ></mat-divider>

    <mat-selection-list *ngFor="let chanel of chanels">
      <!--<div mat-subheader>Folders</div>-->
     <!-- <mat-list-item class="list-group-item list-group-item-action" style="border: none;cursor: pointer" [routerLink]="['/detailChanel']" [queryParams]="{ patient_id: id,chanel_id:chanel.id,sensor:chanel.capteur.nom}">-->
      <mat-list-item class="list-group-item list-group-item-action" style="border: none;cursor: pointer"
                     (click)="getChanelPat(id,chanel.id,chanel.capteur.nom)">
        <img matListAvatar src="../assets/images/{{chanel.capteur.image}}" alt="user-img"  class="img-circle imageList ">
        <div mat-line>{{chanel.capteur.nom}}</div>
       <div mat-line> {{chanel.nom}} </div>
        <mat-icon class="material-icons-outlined">fast_forward</mat-icon>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-selection-list>


  </mat-expansion-panel>
<!------------------------------------------------------Fin Exploration des données-------------------------------------------------->
</mat-accordion>

</div>
