<div class="panel" >
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white  box-shadow" style="border-bottom: solid"  >
    <h2 class="my-0 mr-md-auto"><b>Medecin</b></h2>
  </div>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col-md-2"><img src="../assets/images/medecin.png" alt="user-img" width="100%" class="img-circle" style="margin-top: 60%"></div>
            <div class="col-md-10 table-responsive">
              <table class="table" *ngIf="medecin">
                <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th>&nbsp;</th>
                  <th></th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th scope="row">Nom:</th>
                  <td>{{medecin.nom}}&nbsp;&nbsp;&nbsp;&nbsp;</td>
                  <td>&nbsp;</td>
                  <th scope="row">Prénom:</th>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;{{medecin.prenom}}</td>
                </tr>

                <tr>
                  <th scope="row">Email:</th>
                  <td>{{medecin.appUser.email}}&nbsp;&nbsp;&nbsp;&nbsp;</td>
                  <td>&nbsp;</td>
                  <th scope="row">Téléphone:</th>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;{{medecin.appUser.phone}}</td>
                </tr>

                <tr>
                  <th scope="row">Date naissance:</th>
                  <td>{{medecin.dateNaissance}}&nbsp;&nbsp;&nbsp;&nbsp;</td>
                  <td>&nbsp;</td>
                  <th scope="row">Adresse:</th>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;{{medecin.adresse}}</td>
                </tr>

                <tr>
                  <th ></th>
                  <th scope="row">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Service:&nbsp;&nbsp;
                    <span style="color: #c82333">{{medecin.service.nom}}</span>
                  </th>
                  <td></td>
                  <th ></th>
                  <td></td>
                </tr>

                <tr>
                  <th ></th>
                  <th scope="row">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contacter:<button
                      class="menu-item"
                      routerLink="/messages/{{medecin.id}}"
                      mat-flat-button>
                      <mat-icon
                        class="material-icons-outlined" style="color: #c82333">sms</mat-icon>
                    </button>
                  </th>
                  <td></td>
                  <th ></th>
                  <td></td>
                </tr>

                <tr>

                <tr><td colspan="5"></td></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
