<div *ngIf="connecter!==null && user">
  <mat-toolbar id="mainToolbar">
    <mat-icon
      (click)="onToolbarMenuToggle()"
      id="toolbarMenu">subject</mat-icon>
    <img  src="/assets/images/logo.png" width="36">&nbsp;&nbsp;
    Trading
    <span class="toolbar-spacer"></span>


    <div mat-card-avatar class="avatar toolbar-icon"  routerLink="profile"></div>
    <span class="clickable"  routerLink="profile">Admin</span>
    <mat-icon class="toolbar-icon" aria-label="Example icon-button with a menu" [matMenuTriggerFor]="menu">
      arrow_drop_down_circle
    </mat-icon>
    <mat-menu #menu="matMenu" >
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar
               class="avatar"></div>

          <mat-card-title>{{user.nom}}</mat-card-title>
          <mat-card-subtitle>{{user.prenom}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <button mat-menu-item routerLink="profile">
        <mat-icon class="material-icons-outlined">person</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item routerLink="changerPassword">
        <mat-icon class="material-icons-outlined" >vpn_key</mat-icon>
        <span>Changer mot de passe</span>
      </button>
      <button mat-menu-item  (click)="onLogout()">
        <mat-icon>input</mat-icon>
        <span>Déconnexion</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container
    id="sidenavContainer"
    fullscreen>
    <mat-sidenav
      mode="side"
      #sidenav
      id="sidenav"
      [class.menu-open]="isMenuOpen"
      [class.menu-close]="!isMenuOpen"
      opened>

      <mat-list id="menus">
        <mat-card>
          <mat-card-header>
            <div
              mat-card-avatar
              class="avatar"></div>

            <mat-card-title>{{user.nom}}</mat-card-title>
            <mat-card-subtitle>{{user.prenom}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <mat-list-item>
          <button
            class="menu-item"
            routerLinkActive="active"
            routerLink="plombiers"
            mat-flat-button>
            <mat-icon  class="material-icons-outlined">people_alt</mat-icon>
            Plombiers</button>
        </mat-list-item>

        <mat-list-item>
          <button
            class="menu-item"
            routerLinkActive="active"
            routerLink="erreurs"
            mat-flat-button>
            <mat-icon  class="material-icons-outlined">error</mat-icon>
            Erreurs</button>
        </mat-list-item>

        <mat-list-item>
          <button
            class="menu-item"
            routerLinkActive="active"
            routerLink="changerPassword"
            mat-flat-button>
            <mat-icon  class="material-icons-outlined">vpn_key</mat-icon>
            Changer Mot de passe</button>
        </mat-list-item>

        <mat-list-item>
          <button
            class="menu-item"
            (click)="onLogout()"
            mat-flat-button>
            <mat-icon  class="material-icons-outlined">input</mat-icon>
            Déconnexion</button>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content
      [ngStyle]="{ 'margin-left.px': contentMargin }"
      style="background-color: white"
    >

      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
<app-login *ngIf="connecter==null"></app-login>
