<!-- Form-->
<div class="form">
  <div *ngIf="mode==1" class="alert alert-danger">
    <strong>Bad credentials!</strong>
  </div>
  <div class="form-toggle"></div>
 <div class="form-panel one">
    <div class="form-header text-center">
      <img src="/assets/images/logo-dark2.png"  width="64">
      <br>
      <h1>Login</h1>
    </div>
    <div class="form-content">
      <form #f="ngForm" (ngSubmit)="onLogin(f.value)" >
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" id="email" name="email" required="required" ngModel=""/>
        </div>
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input type="password" id="password" name="password" required="required" ngModel=""/>
        </div>
        <div class="form-group">
          <label class="form-remember">
          </label><a class="form-recovery" routerLink="/forgetMdp">Mot de passe oblié?</a>
        </div>
        <div class="form-group">
          <button type="submit">S'identifier</button>
        </div>
      </form>
    </div>
  </div>
  <div class="form-panel two" routerLink="/register" >

  </div>
</div>
