<div class="panel" >
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white  box-shadow" style="border-bottom: solid"  >
    <h2 class="my-0 mr-md-auto"><b>
      <button routerLink="/detailPatient/{{idPat}}" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      Consultations</b></h2>
  </div>

    <div class="container">
      <div *ngIf="consultations && consultations.length==0"><h1><b>Aucun consultation exist!</b></h1></div>
      <div class="table-responsive" *ngIf="consultations && consultations.length!=0" style="margin-left: 2%">

        <table class="table table-bordered" >
          <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Rapport</th>
            <th>Nom du traitement</th>
            <th>Ordonnance</th>
          </tr>

          <tr *ngFor="let cons of consultations |  filter:searchText  | paginate: { itemsPerPage: 3,currentPage:p}">
            <td>{{cons.id }}</td>
            <td>{{cons.date}}</td>
            <td>
              <div class="text-center">
                <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon"
                        (click)="voirRapport(cons)">
                  <mat-icon>preview</mat-icon>
                </button>

              </div>
            </td>
            <td>
              {{cons.traitement.nom}}
            </td>
            <td>

              <!--<div class="row">
                <div class="col-md-10">
                  <mat-accordion class="example-headers-align">
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>

                        <mat-panel-description>
                          <b>La liste des médécaments</b>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <mat-list *ngFor="let trai of cons.traitement.contenu">
                        <mat-divider></mat-divider>
                        <mat-list-item>{{trai}}</mat-list-item>
                        <mat-divider></mat-divider>
                      </mat-list>
                    </mat-expansion-panel>

                  </mat-accordion>
                </div>
                <div class="col-md-2">

                </div>
              </div>-->
              <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon"
                      (click)="voirOrdonnance(cons)">
                <mat-icon>preview</mat-icon>
              </button>


            </td>

            <!--<td>


              <a href="javascript:void(0)" (click)="voirCons(cons)" class="text-decoration-none"  data-toggle="modal" data-target="#modalUpdate" style="color: #2cabe3" >
                <mat-icon>preview</mat-icon>
              </a>


            </td>-->
          </tr>
        </table>
      </div>
    </div>
      <ul class="pagination" *ngIf="consultations && consultations.length!=0">
        <pagination-controls (pageChange)="p=$event"></pagination-controls>
      </ul>
      <!------------------------------------------------------------------------------------------------------------------------>




</div>


