<div class="panel" style="background-color: #dae0e5">
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white  box-shadow" style="border-bottom: solid"  >
    <h2 class="my-0 mr-md-auto"><b>
      Profile</b></h2>
  </div>
  <div>
    <div class="container">
      <div class="card">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-md-2">
                <img *ngIf="user.appUser.role=='MEDECIN'" src="../assets/images/medecin.png" alt="user-img" width="100%" class="img-circle" style="margin-top: 10%">
                <img *ngIf="user.appUser.role=='PATIENT'" src="../assets/images/patient2.png" alt="user-img" width="100%" class="img-circle" style="margin-top: 10%">
              </div>
              <div class="col-md-10 table-responsive">
                <table class="table" *ngIf="user">

                  <tbody>
                  <tr>
                    <th scope="row">Nom:</th>
                    <td>{{user.nom}}&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;</td>
                    <th scope="row">Prénom:</th>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;{{user.prenom}}</td>
                  </tr>

                  <tr>
                    <th scope="row">Email:</th>
                    <td>{{user.appUser.email}}&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;</td>
                    <th scope="row">Téléphone:</th>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;{{user.appUser.phone}}</td>
                  </tr>

                  <tr>
                    <th scope="row">Date naissance:</th>
                    <td>{{user.dateNaissance}}&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;</td>
                    <th scope="row">Adresse:</th>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;{{user.adresse}}</td>
                  </tr>
                  <tr><td colspan="5"></td></tr>
                  </tbody>
                </table>
              </div>
              <div class="col text-center">
                <button *ngIf="user.appUser.role=='MEDECIN'" routerLink="/editProfileMed/{{user.id}}" class="btn btn-primary" mat-stroked-button>
                  <mat-icon class="material-icons-outlined">edit</mat-icon>
                  Modifier
                </button>
                <button *ngIf="user.appUser.role=='PATIENT'" routerLink="/editProfilePat/{{user.id}}" class="btn btn-primary" mat-stroked-button>
                  <mat-icon class="material-icons-outlined">edit</mat-icon>
                  Modifier
                </button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="margin-top: 5%">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body message-list" style="height: 500px" *ngIf="user.appUser.role=='MEDECIN'">
              <div  class="dash-widget" >
                <span class="dash-widget-bg1 text-center" style="background-color: #55ce63">
                <i class="fa fa-user-o" aria-hidden="true"></i>
               </span>
                <div class="dash-widget-info text-center">
                  <h3>{{membres.length}}</h3>
                  <span class="widget-title1" style="background-color: #55ce63">
                    Patients <i class="fa fa-check" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
              <mat-selection-list *ngFor="let mem of membres">
                <mat-list-item class="list-group-item list-group-item-action" style="border: none;cursor: pointer"
                               routerLink="/detailPatient/{{mem.id}}"
                >
                  <img matListAvatar src="../assets/images/patientNo.png" alt="user-img"  class="img-circle imageList ">
                  <div mat-line>{{mem.nom}}&nbsp;{{mem.prenom}}</div>
                  <div mat-line> {{mem.appUser.email}} </div>
                  <mat-icon class="material-icons-outlined">fast_forward</mat-icon>
                </mat-list-item>
                <mat-divider></mat-divider>
              </mat-selection-list>
            </div>

            <!-------------------------------- medecins traitants pour le patient------------------------------------------->

            <div class="card-body message-list" style="height: 500px" *ngIf="user.appUser.role=='PATIENT'">
              <div  class="dash-widget" >
                <span class="dash-widget-bg1 text-center" style="background-color: #7a92a3">
                <i class="fa fa-user-md" aria-hidden="true"></i>
               </span>
                <div class="dash-widget-info text-center">
                  <h3>{{medecins.length}}</h3>
                  <span class="widget-title1" style="background-color: #7a92a3">
                    Medecins Traitants <i class="fa fa-check" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
              <mat-selection-list *ngFor="let med of medecins">
                <mat-list-item class="list-group-item list-group-item-action" style="border: none;cursor: pointer"
                               routerLink="/detailMedecin/{{med.id}}"
                >
                  <img matListAvatar src="../assets/images/medecin.png" alt="user-img"  class="img-circle imageList ">
                  <div mat-line>{{med.nom}}&nbsp;{{med.prenom}}</div>
                  <div mat-line> {{med.service.nom}} </div>
                  <mat-icon class="material-icons-outlined">fast_forward</mat-icon>
                </mat-list-item>
                <mat-divider></mat-divider>
              </mat-selection-list>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card">
            <div class="card-body message-list" style="height: 500px" *ngIf="user.appUser.role=='MEDECIN'">
              <div  class="dash-widget" >
                <span class="dash-widget-bg1 text-center" style="background-color: #ffbc35">
                <i class="fa fa-calendar" aria-hidden="true"></i>
               </span>
                <div class="dash-widget-info text-center">
                  <h3>{{rendezVousMed.length}}</h3>
                  <span class="widget-title1" style="background-color: #ffbc35">
                    Rendez-vous <i class="fa fa-check" aria-hidden="true"></i>
                  </span>
                </div>
              </div>

              <mat-selection-list *ngFor="let rend of rendezVousMed">
                <mat-list-item class="list-group-item list-group-item-action" style="border: none;cursor: pointer"
                               routerLink="/rendezvous"
                >
                  <mat-icon mat-list-icon class="material-icons-outlined">date_range</mat-icon>
                  <div mat-line>{{rend.titre}}&nbsp;"{{rend.validation}}"</div>
                  <div mat-line> {{rend.dateDebut | date:"MMMM d, y, h:mm"}} </div>
                </mat-list-item>
                <mat-divider></mat-divider>
              </mat-selection-list>
            </div>

            <!-------------------- les rendezvous patient ----------------------------------------------------------->
            <div class="card-body message-list" style="height: 500px" *ngIf="user.appUser.role=='PATIENT'">
              <div  class="dash-widget" >
                <span class="dash-widget-bg1 text-center" style="background-color: #ffbc35">
                <i class="fa fa-calendar" aria-hidden="true"></i>
               </span>
                <div class="dash-widget-info text-center">
                  <h3>{{rendezVousPat.length}}</h3>
                  <span class="widget-title1" style="background-color: #ffbc35">
                    Rendez-vous <i class="fa fa-check" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
              <mat-selection-list *ngFor="let rend of rendezVousPat">
                <mat-list-item class="list-group-item list-group-item-action" style="border: none;cursor: pointer"
                               routerLink="/rendezvousp"
                >
                  <mat-icon mat-list-icon class="material-icons-outlined">date_range</mat-icon>
                  <div mat-line>{{rend.titre}}&nbsp;"{{rend.validation}}"</div>
                  <div mat-line> {{rend.dateDebut | date:"MMMM d, y, h:mm"}} </div>
                </mat-list-item>
                <mat-divider></mat-divider>
              </mat-selection-list>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

</div>
