<div class="panel" >
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white  box-shadow" style="border-bottom: solid"  >
    <h2 class="my-0 mr-md-auto"><b>
      Rendez-vous</b></h2>
  </div>
  <div class="container">
    <ejs-schedule  width='100%' height='550px' [workHours]="workHours" (actionBegin)="onClick($event)"  [firstDayOfWeek]="weekFirstDay" [showQuickInfo]="showQuickInfo" [selectedDate]='selectedDate' [views]='views' [eventSettings]='eventSettings'  [eventDragArea]="rendezVous"  (popupOpen)='onPopupOpen($event)'>
      <ng-template #editorTemplate>
        <table class="custom-event-editor" width="100%" cellpadding="5">
          <tbody>
          <tr>
            <input *ngIf="medecin" id="Subject" class="e-field e-input" type="hidden" [value]="medecin.id" name="idMedecin" style="width: 100%" />
            <td class="e-textlabel">titre</td>
            <td colspan="4">
              <input id="Subject" class="e-field e-input" type="text" value="" name="titre" style="width: 100%" />
            </td>
          </tr>
          <tr>
            <td class="e-textlabel">patient</td>
            <td colspan="4">
              <input type="text" id="EventType" name="idPatient"  class="e-field" style="width: 100%" />
            </td>
          </tr>
          <tr>
            <td class="e-textlabel">From</td>
            <td colspan="4">
              <input id="dateDebut" class="e-field" type="text" name="dateDebut" />
            </td>
          </tr>
          <tr>
            <td class="e-textlabel">To</td>
            <td colspan="4">
              <input id="dateFin" class="e-field" type="text" name="dateFin" />
            </td>
          </tr>
          <tr>
            <td class="e-textlabel">Description</td>
            <td colspan="4">
              <textarea id="description" class="e-field e-input" name="description" rows="3" cols="50" style="width: 100%; height: 60px !important; resize: vertical"></textarea>
            </td>
          </tr>

          <tr>
            <td class="e-textlabel">Validation</td>
            <td colspan="4">
              <input id="Description" class="e-field e-input" type="text" value="" name="validation" style="width: 100%;" disabled />
            </td>
          </tr>
          </tbody>
        </table>
      </ng-template>

    </ejs-schedule>
  </div>

</div>
